<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" href="{% url 'cakeapp:allprodcat' %}">Home</a>
      </li>
      <li class="nav-item dropdown {% if 'cakeapp' in request.path %}active{% endif %}">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
          Cake Shop
        </a>

        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" href="{% url 'cakeapp:allprodcat' %}">All Items</a></li>
            {% for cat in links %}
              <li>
                <a class="dropdown-item" href="{{cat.get_url}}">{{cat.name}}</a>
              </li>
            {% endfor %}
        </ul>
      </li>
      {% if item_count > 0 %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cart_app:cart_detail' %}"><i class="fa-solid fa-cart-shopping"></i>&nbsp;Your Cart({{item_count}})</a>
          </li>
      {% endif %}
    </ul>
    <form class="d-flex" action="{% url 'search_app:searchResult' %}" method="get">
      {% csrf_token %}
        <input class="form-control mr-sm-2" type="search" placeholder="Search" name="q" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="width:130px;"><i class="fa-solid fa-magnifying-glass"></i>&nbsp;Search</button>
    </form>
  </div>
</nav>